.buttonType{
	width: 304px;
	height: 102px;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 36px;
	font-weight: 500;
}

.buttonType:hover{
	cursor: pointer;
}

.greenButton{
	background: var(--color-primary-1);
	color: var(--color-primary-2);
}

.yellowButton{
	background: var(--color-primary-2);
	color: var(--color-primary-1);
}