.buttonType{
	width: 304px;
	height: 102px;
	border-radius: 50px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.greenButton{
	background: #3D5C54;
}

.yellowButton{
	background: #EFBE96;
}