.container{
    padding-right:0
}

.mission_details{
    display: flex;
    text-decoration: none;
    padding-top: 45px;
    font-family: var(--font-primary-2);
}

.details_left_column{
    display: flex;
    flex-direction: column;
}
.details_title{
    display: flex;
}

.iconCart {
    width: 2.5vw;
}

.titleMission {
    padding-left: 15px;
    font-size: 34px;
    white-space: nowrap;
}

.senior_profil{
    margin-top:50px;
}

.senior_profil img{
    width: 8vw;
    height:8vw;
    object-fit: cover;
}

.senior_profil h3{
    font-size: 30px;

}

.details_description{
    position:relative;
    width: 35vw;
    margin: 4vh 6vw 4vh 0;
    /* margin-bottom: 4vh; */
}

.quote::before{
    position:absolute;
    left: -12px;
    top: -10px;
    z-index:-1;
    width: 27px;
    height: 32px;
    content:'' ;
    background-image: url(../../assets/images/quote_left.svg);
    background-repeat: no-repeat;
}

.quote::after{
    position:absolute;
    right: 20px;
    bottom:-7px;
    z-index:-1;
    width: 27px;
    height: 32px;
    content:'' ;
    background-image: url(../../assets/images/quote_right.svg);
    background-repeat: no-repeat;
}

.quote_left{
    position:absolute

}
.quote_right{
    position:absolute

}

.details_NB{
    position: absolute;
    bottom:8vh;
    width:30vw
}

.details_NB p{
    font-family: var(--font-primary-2);
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
}

.details_right_column{
    background-color:aquamarine;
    width: 80%;
    border:solid 2px var(--color-primary-2);
    border-radius:35px 0;
}