.headerContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	/* position: absolute; */
	height: 15vmin;
}

.headerLogo{
	width: 8%;
	margin-left: 4.5vw;
}

.menuItem{
	/* font-size: 24px; */
	font-size: 3vh;
	font-weight: 500;
	margin-right: 4.5vw;
}

.menuItem:hover{
	cursor: pointer;
}

.itemBlack{
	color: #111111;
}

.itemWhite{
	color: #FAF6F2;
}