.type{
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-content: space-around;
	justify-content: space-around;
	align-items: center;
}

.seniorSide{
	background: #EFBE96;
	border-right: 4px solid #fff;
}

.youngSide{
	background: #3D5C54;
	border-left: 4px solid #fff;
}