.mission_card{
    display: flex;
    padding-left: 26px;
    width: 35vw;
    height: 32vh;
    background-color: var(--color-secondary-2);
    border-radius: 35px;
}

.mission_first_raw{
    display: flex;
    margin: 0.5vh 0 ;
}

.mission_first_raw h4{
    margin-left: 1vw;
}

.mission_second_raw{
    display: flex;
}

.mission_details{ 
    text-decoration: underline;
    color: var(--color-black);
}

.mission_first_column{
    margin-right: 70px;
}

.bnt_round{
    margin-top: 35px;
    width: 105px;
    height: 30px;
    font-size: 15px;

}
